html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

* {
    box-sizing: inherit;
}
.iframe-container {
    width: 100vw;

}
.iframe-container.youtube {
    height: 80vh;
}

.iframe-container.weather {
    height: 40vh;
}

.iframe-container iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}


